/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-image: url(../img/red.png);
  background-attachment: fixed; }
  body header .container-fluid {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding: 0px;
    margin-bottom: 110px; }
    @media (min-width: 768px) {
      body header .container-fluid {
        float: left;
        width: 100%; } }
    @media (min-width: 992px) {
      body header .container-fluid {
        float: left;
        width: 100%; } }
    body header .container-fluid .logo {
      background-color: #085e60;
      background-image: -webkit-gradient(linear, 90deg, from(#36D8D0), to(#085e60));
      background-image: -webkit-linear-gradient(90deg, #36D8D0, #085e60);
      background-image: -moz-linear-gradient(90deg, #36D8D0, #085e60);
      background-image: -ms-linear-gradient(90deg, #36D8D0, #085e60);
      background-image: -o-linear-gradient(90deg, #36D8D0, #085e60);
      background-image: linear-gradient(90deg, #36D8D0, #085e60);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#36D8D0', EndColorStr='#085e60');
      margin: 0px 0px 0px 0px;
      background-attachment: fixed; }
      body header .container-fluid .logo:before, body header .container-fluid .logo:after {
        content: " ";
        display: table; }
      body header .container-fluid .logo:after {
        clear: both; }
      body header .container-fluid .logo img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: 0%;
        position: relative;
        float: left;
        width: 100%;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px; }
        @media (min-width: 768px) {
          body header .container-fluid .logo img {
            margin-left: 8.33333%; } }
        @media (min-width: 992px) {
          body header .container-fluid .logo img {
            margin-left: 25%; } }
        @media (min-width: 768px) {
          body header .container-fluid .logo img {
            float: left;
            width: 83.33333%; } }
        @media (min-width: 992px) {
          body header .container-fluid .logo img {
            float: left;
            width: 50%; } }
    body header .container-fluid nav {
      margin-left: -15px;
      margin-right: -15px;
      margin: 0px;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 5px 0px 2px 0px; }
      @media (max-width: 991px) {
        body header .container-fluid nav {
          display: none; } }
      body header .container-fluid nav:before, body header .container-fluid nav:after {
        content: " ";
        display: table; }
      body header .container-fluid nav:after {
        clear: both; }
      body header .container-fluid nav ul {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        padding: 0px;
        margin: 0px; }
        @media (min-width: 768px) {
          body header .container-fluid nav ul {
            float: left;
            width: 83.33333%; } }
        @media (min-width: 768px) {
          body header .container-fluid nav ul {
            margin-left: 25%; } }
        @media (min-width: 992px) {
          body header .container-fluid nav ul {
            float: left;
            width: 83.33333%; } }
        @media (min-width: 992px) {
          body header .container-fluid nav ul {
            margin-left: 16.66667%; } }
        body header .container-fluid nav ul li {
          margin: 13px 0px;
          display: inline-block;
          margin-left: 8.33333%;
          position: relative;
          float: left;
          width: 16.66667%;
          min-height: 1px;
          padding-left: 15px;
          padding-right: 15px;
          position: relative;
          min-height: 1px;
          padding-left: 15px;
          padding-right: 15px;
          position: relative;
          min-height: 1px;
          padding-left: 15px;
          padding-right: 15px; }
          @media (min-width: 768px) {
            body header .container-fluid nav ul li {
              margin-left: 8.33333%; } }
          @media (min-width: 992px) {
            body header .container-fluid nav ul li {
              margin-left: 4.16667%; } }
          @media (min-width: 768px) {
            body header .container-fluid nav ul li {
              float: left;
              width: 16.66667%; } }
          @media (min-width: 992px) {
            body header .container-fluid nav ul li {
              float: left;
              width: 16.66667%; } }
          body header .container-fluid nav ul li a {
            color: #241d1b;
            font-family: Lobster;
            font-weight: 900;
            font-size: 45px;
            font-size: 2.8125rem;
            padding: 10px;
            -webkit-transition: 0.9s;
            -o-transition: 0.9s;
            transition: 0.9s; }
            body header .container-fluid nav ul li a:hover {
              text-decoration: none;
              color: #3b3837;
              font-size: 42px;
              font-size: 2.625rem; }

footer .container-fluid {
  padding: 200px 0px 0px 0px; }
  footer .container-fluid img {
    width: 100%; }
