body

	background-image: url(../img/red.png)
	background-attachment: fixed
	header
		nav
			ul
				.home
					a
						color: #9e68b0
	main
		
		
		.eu
			height: auto
			min-height: 600px
			img
				+make-row
				+img-responsive
				+make-sm-column(10)
				+make-md-column(5)
				+make-sm-column-offset(1)
				+make-md-column-offset(1)
				margin: 15px 0px 0px 0px
				
		h1
			font-family: Raleway
			font-weight: 900
			padding: 100px 0px 0px 0px
			text-align: left
			+breakpoint(max-width 990px)
				text-align: center
				+font-size(75px)
		p 
			font-family: Raleway
			font-weight: 500
			
			+font-size(43px)
		Spam
			+make-sm-column(10)
			+make-md-column(6)