body
	
	
	header
		nav
			.navega
				.home
					a
						color: #9e68b0
	main

		
		.eu
			
			height: auto
			min-height: 600px
			img
				+make-row
				+img-responsive
				+make-sm-column(12)
				+make-md-column(5)
				+make-sm-column-offset(0)
				+make-md-column-offset(0.5)
				margin: 15px 0px 0px 0px
				
		h1
			font-family: Raleway
			font-weight: 900
			padding: 475px 0px 0px 0px
			text-align: left
			+breakpoint(max-width 990px)
				text-align: center
				+font-size(75px)
		p 
			font-family: Raleway
			font-weight: 500
			+font-size(43px)
			
				
		.paragra
			+make-sm-column(12)
			+make-md-column(6)
			+breakpoint(max-width 990px)
		.habil
			padding: 100px 0px 0px 0px